@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600&display=swap');


:root{
	--main-color: #799c9c;
    --color-dark: #1D2231;
    --text-grey: rgba(255, 255, 255, 0.5);
    --hover-color: #517a75;
}

* {
	padding: 0;
	margin:  0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Poppins' , sans-serif;
}

.sidebar {
	width: 345px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: var(--main-color);
	z-index: 100;
}

.sidebar-brand {
	height: 90px;
	padding-left: 1rem 0rem 1rem 2 rem;
	color: #fff;
}

.sidebar-brand span {
	display: inline-block;
	padding-right: 1rem;
}

.sidebar-menu {
	margin-top: 1rem;
}
.sidebar-menu li {
	width: 100%;
	margin-bottom: 1.3rem;
	padding-left:2rem;
}

.sidebar-menu a{
	padding-left: 1rem;
	display: block;
	color: #fff;
	font-size: 1.1rem;
}

.sidebar-menu a.active {
	background: #fff;
	padding-top: 1rem ;
	padding-bottom: 1rem;
	color: var(--main-color);
	border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span:first-child{
	font-size: 1.5rem;
	padding-right: 1rem;
}
.sidebar-menu a span:hover{
transform: scale(1.1);
}
.main-content {
	margin-left: 345px ;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) ;
	position: fixed;
	left: 345px;
	width: calc(100% - 345px);
	top: 0;
	z-index: 100%;
}
header h2 {
	color: #222;
}

header label span {
	font-size: 1.7rem;
	padding-right: 1rem;
}
.search-wrapper {
	border: 1px solid #ccc;
	border-radius: 30px;
	height: 50px;
	overflow-x:hidden ;
}

.search-wrapper span {
	display: inline-block;
	padding: 0rem 1rem;
	font-size: 1.5rem;
}

.search-wrapper input {
	height: 100%;
	padding: .5rem;
	border: none;
	outline: none;
}

.user-wrapper {
	display: flex;
	align-items: center;
}

.user-wrapper img {
	border-radius: 50%;
	margin-right: 1rem;
}

.user-wrapper small {
	display: inline-block;
	color: var(--text-grey);
	margin-top: -3px !important;
}

main {
	margin-top: 90px;
	padding: 2rem 1.5rem;
	background: #f0f0f0;
	min-height: calc(100vh - 90px);
}

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	margin-top: 1 rem;
}

.card-single {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 2rem;
	border-radius: 2px;
}


.card-single div:last-child span {
	font-size: 3rem ;
	color: var(--main-color);
}

.card-single span:first-child span {
	
	color: var(--text-grey);
}

.card-single:last-child {
	background: var(--main-color);
}

.card-single:last-child h1{
	background: var(--main-color);
}


.card-single:last-child div:last-child span{
	color: #fff;
}

.card-single:last-child div:first-child span {
	
	color: var(--text-grey);
}

.recent-grid {
	margin-top: 3.5rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 65% auto ;
}
.recent-grit {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 100% auto ;
}


.box{
	background: #fff;
}
.card {
	background: #fff;
}

.card-header ,
.card-body{
	padding: 1rem;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f0f0f0;
}

.card-header button {
	background: var(--main-color);
	border-radius: 10px;
	color: #fff;
	font-size: .8rem;
	padding: .5rem 1rem;
	border :1px solid var(--main-color);
	cursor: pointer;
	transition: .3s;

}
.card-header button:hover{
transform: scale(1.1);
}
table {
	border-collapse: collapse;
}

thead tr{
	border-top: 1px solid #f0f0f0;
	border-bottom: 2px solid #f0f0f0;
}

thead td {
	font-weight: 700;

}

td {
	padding: .5rem 1rem;
	font-size: .9rem;
	color: #222;
}
td button{
	background: var(--main-color);
	border-radius: 10px;
	color: #fff;
	font-size: .8rem;
	padding: .5rem 1rem;
	border :1px solid var(--main-color);
	cursor: pointer;

}
.table-responsive td button:hover{
transform: scale(1.1);
}


.table-responsive {
	width: 100%;
	overflow-x:auto ;
}

.customer  {
	display: flex;
	justify-content:space-between ;
	align-items: center;
	padding: .5rem 1rem;
}

.info {
	display: flex;
	align-items: center;
}

.info img {
	border-radius: 50%;
	margin-right: 1rem;
}

.info h4 {
	font-size: .8rem;
	font-weight: 700;
	color: #222s;
}

.info small {
	font-weight: 600;
	color: var(--text-grey);
}

.contact span {
	font-size: 1.2rem;
	display: inline-block;
	margin-left: .5rem;
	color: var(--main-color);
	cursor: pointer;
}
.contact span:hover{
	transform: scale(1.5);
}
#nav-toggle:checked + .sidebar {
	width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2,
#nav-toggle:checked + .sidebar li a{
	padding-left:1rem ;
	}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar .sidebar-brand li a span:last-child{
	display: none;
}

#nav-toggle:checked ~.main-content {
	width: calc(100% - 345px);
}

#nav-toggle:checked ~ main-content header{
	width: calc(100% - 345px);
	left: 70px;
}
.main-content {
	margin-left: 345px;

}

header{
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	position: fixed;
	left: 345px;
	width: calc(100% - 345px);
	top: 0;
	z-index: 100;
	transition: left 300ms;
}

.card-single span a{
	color: black;
}
select {
    margin-bottom: 5px;
    width: 30%;
    display: block;
    font-weight: 500;
    height: 45px;
    width: 25%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    position: relative;
    padding-left : 105px;
  }

  .select select:focus,
  .select .hover select:valid{
    border-color: #476b6b;
  }

.select .speciality{
  position:relative;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bolder;
}   



/*profile*/             
.boxer{
background-color:white;
margin-top: 150px;
transition: all 1s;
}

.boxer img{
box-sizing: border-box;
width:149px;
height:149px;
border-radius:100%;
margin:0;
border:5px solid #006666;
padding: 3px;
background-color: white;
overflow: hidden;
transition: all 1s;

}

.boxer input[type="text"],
.boxer input[type="email"],
.boxer input[type="number"] {
display: flex;
box-sizing: border-box;
color: ;
margin-bottom: 50px;
padding: 4px;
width: 220px;
height: 32px;
border: none;
border-bottom: 1px solid #799c9c;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 15px;
transition: 0.1s ;
background: white;
}
.boxer input[type="date"]{
margin-top: 20px;
}

.boxer input[type="text"]{
	margin-top: 50px;
}
.boxer input[type="text"]:focus,
.boxer input[type="email"]:focus,
.boxer input[type="number"]:focus {
border-bottom: 8px solid #799c9c;
border-bottom-right-radius:20px;
color: black;
transition: 0.2s;
background: white;
border-top: none;
}


.pbutton button{
border:2px solid #006666;
background-color: white;
color:black;
height: 30px;
width: 100px;
border-radius: 5px;
left:0;
margin:0px;
transition: .3s;
}
.pbutton button:hover{
transform: scale(1.1);
background-color: #799c9c;
}
.boxer input[type="file"]{
display:none;
}

.boxer p{
	font-size: 15px;
}
.boxer label{
box-sizing: border-box;
width:40px;
height:20px;
background-color: white;
color:white;
border:3px solid #006666;
background-color: white;
color:black;
padding: 4px;
border-radius: 2px;
}
.boxer label:hover{
background-color: #799c9c;
}    

/*Doctor Profile*/

.Profile-content{
	width: 100%;
	float: right;
 background: linear-gradient(	 rgb(67, 138, 132),#75a3a3,#94b8b8,#b3cccc);
	box-shadow: 0 0 25px rgba(#000, 0.2);
}
.action{
	width: 100%;
	 background: linear-gradient(	 rgb(67, 138, 132),#75a3a3,#94b8b8,#b3cccc); 
	height: 40px;
	line-height: 40;
	color: #fff;
	padding: 20px 0 0 0;
}
.action i{
	padding-left: 20px;
	float: left;
}
.action i:hover{
	opacity: 0.8;
}

.action i+i{
	padding-left:10px ;
	float: right;
}

.pic{
	 background: linear-gradient(	 rgb(67, 138, 132),#75a3a3,#94b8b8,#b3cccc); 
	 text-align: center;
	 color: #fff;
	 padding: 0 0 30px 0;

}
.pic img{
	width: 90px;
	height: auto;
	border-radius: 50%;
}
.pic img:hover{
	opacity: 0.8;
}
.pic h2{
	font-size: 20px;
	padding: 0;
	margin: 0;
	font-weight: 900;
	color: black;
}

.pic span{
	font-size: 15px;
	font-weight: 300;
	color: black;
}
.pic h5{
	font-size: 17px;
	padding: 0;
	margin: 0;
	font-weight: 600;
	color: black;
}